

  body {
    
    font-family: Arial, Helvetica, sans-serif
  }
  
  .page-wrap {
    width: 800px;
    margin: 0 auto;
    background-image: url("../img/cute_burger.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ffd1c9;
  }
  
  h1 {
    text-align: center;
    font-size: 30pt;
    padding-top: 40px;
  }
  
  .uneaten-burgers h2 {
    text-align: center;
    margin-left: 40px;
  }
  
  ul {
    list-style: none;
  }

  ul.eaten {
    padding-left: 0px;
    background-color: #ffd1c9;
  }

  ul.uneaten {
    background-color: #ffd1c9;
  }
  
  .uneaten-burgers {
    /* position: relative; */
    float: left;
    margin: 10px 0px 30px 20px;
    padding-top: 20px;
  }
  
  .eaten-burgers {
    /* position: relative; */
    margin: 10px 20px 150px 600px;
    padding-top: 40px;
    margin-left: 600px; 

    font-family: 'Crafty Girls';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    /* background-color: #ffd1c9; */
  }

  
  .burger-form {
    position: initial;
    margin-left: 280px;
    width: 30%;
    padding-bottom: 40px;
    text-align: center;
  } 

  input#burg {
    text-align: center;
    padding: 4px 15px;
    border-radius: 8px;
  }
  
  button {
    padding: 4px 15px;
    border-radius: 8px;
    margin-top: 10px;
  }

  button:active {
    background-color: rgb(76, 189, 255);
 }

 button:hover {
  background-color: rgb(76, 189, 255);
}